CREATE OR REPLACE FUNCTION public.admin_delete_user(target_user_id UUID) RETURNS void LANGUAGE plpgsql SECURITY DEFINER AS $$ BEGIN IF NOT EXISTS ( SELECT 1 FROM public.profiles WHERE id = auth.uid() AND role = 'admin' ) THEN RAISE EXCEPTION 'Unauthorized: User is not an admin'; END IF; DELETE FROM auth.users WHERE id = target_user_id; END; $$; GRANT EXECUTE ON FUNCTION public.admin_delete_user(UUID) TO authenticated; GRANT EXECUTE ON FUNCTION public.admin_delete_user(UUID) TO service_role; NOTIFY pgrst, 'reload schema';
